<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeneticAlgNetControl</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
</head>
<body class="d-flex flex-column">
    <div class="flex-grow-1 row mx-0">
        <div class="col-4 col-lg-3 bg-dark d-flex flex-column justify-content-between align-items-center px-2 py-4">
            <div class="navbar navbar-dark flex-grow-0">
                <div class="navbar-brand">
                    <img src="~/img/geneticalgnetcontrol-icon.png" width="30" height="30" class="align-top" />
                    <span>GeneticAlgNetControl</span>
                </div>
            </div>
            <div class="flex-grow-1 w-100">
                <div class="nav flex-column">
                    @{
                        var activePage = (string)ViewData["ActivePage"];
                    }
                    <a asp-page="/Index" class="d-flex flex-column justify-content-center nav-link bg-dark text-white py-1 @(activePage == "Home" ? "active" : string.Empty)">
                        <div class="row">
                            <span class="col-10 font-weight-bold text-left text-wrap">Home</span>
                            <span class="col-2 text-center"><i class="fas fa-home"></i></span>
                        </div>
                    </a>
                    <a asp-page="/Overview" class="d-flex flex-column justify-content-center nav-link bg-dark text-white py-1 @(activePage == "Overview" ? "active" : string.Empty)">
                        <div class="row">
                            <span class="col-10 font-weight-bold text-left text-wrap">Overview</span>
                            <span class="col-2 text-center"><i class="fas fa-chart-bar"></i></span>
                        </div>
                    </a>
                    <a asp-page="/Create" class="d-flex flex-column justify-content-center nav-link bg-dark text-white py-1 @(activePage == "Create" ? "active" : string.Empty)">
                        <div class="row">
                            <span class="col-10 font-weight-bold text-left text-wrap">Create</span>
                            <span class="col-2 text-center"><i class="fas fa-plus-circle"></i></span>
                        </div>
                    </a>
                    <a asp-page="/About" class="d-flex flex-column justify-content-center nav-link bg-dark text-white py-1 @(activePage == "About" ? "active" : string.Empty)">
                        <div class="row">
                            <span class="col-10 font-weight-bold text-left text-wrap">About</span>
                            <span class="col-2 text-center"><i class="fas fa-question-circle"></i></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="flex-grow-0">
                <div class="navbar navbar-dark">
                    <ul class="navbar-nav d-flex flex-column justify-content-around align-items-center">
                        <li class="nav-item">
                            <a href="/Hangfire" class="nav-link d-flex flex-row justify-content-between align-items-center">
                                <span class="mx-1"><i class="fas fa-tasks"></i></span>
                                <span class="mx-1">Tasks</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <div class="text-light">
                                <span>&copy; @DateTime.Now.Year - Victor Popescu</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-8 col-lg-9 px-4 pt-4 pb-3 bg-light">
            @{
                var statusMessage = (string)TempData["StatusMessage"];
            }
            @if (!string.IsNullOrEmpty(statusMessage))
            {
                var statusMessageType = statusMessage.StartsWith("Error") ? "danger" : statusMessage.StartsWith("Success") ? "success" : "info";
                var statusMessageIcon = statusMessage.StartsWith("Error") ? "exclamation" : statusMessage.StartsWith("Success") ? "check" : "info";
                var statusMessageText = string.Join(" ", statusMessage.Split(" ").Skip(1));
                <div class="alert alert-@statusMessageType alert-dismissible text-wrap mb-3">
                    <div>
                        <span><i class="fas fa-@statusMessageIcon-circle"></i></span>
                        <span>@statusMessageText</span>
                    </div>
                    <button type="button" class="close" data-dismiss="alert">
                        <span><i class="fas fa-times"></i></span>
                    </button>
                </div>
            }
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
