<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genetic Algorithms for Network Controllability</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="false" />
</head>
<body class="d-flex flex-column">
    <div class="d-flex flex-column flex-md-row flex-grow-1 bg-light">
        <div class="col-md-4 col-lg-3 col-xl-2 flex-grow-0 flex-md-grow-1 bg-white shadow-sm">
            <div class="navbar navbar-expand-md navbar-light flex-row flex-md-column sticky-top">
                <div class="navbar-brand d-flex flex-row flex-md-column align-items-center mx-0 my-md-4">
                    <img src="~/img/geneticalgnetcontrol-icon.png" width="30" height="30" class="align-top mx-1" />
                    <span>GeneticAlg</span>
                    <span>NetControl</span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".collapse.navbar-collapse" title="Toggle navigation">
                    <span><i class="fas fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse w-100 my-md-4">
                    <div class="navbar-nav flex-column w-100">
                        @{
                            var activePage = (string)ViewData["ActivePage"];
                        }
                        <span class="font-weight-bold navbar-text text-muted">Overview</span>
                        <a asp-page="/Index" class="nav-item nav-link d-flex flex-row align-items-center @(activePage == "Home" ? "active" : string.Empty)">
                            <span class="col-2 text-center text-dark px-1"><i class="fas fa-home"></i></span>
                            <span class="col-10">Home</span>
                        </a>
                        <a asp-page="/About" class="nav-item nav-link d-flex flex-row align-items-center @(activePage == "About" ? "active" : string.Empty)">
                            <span class="col-2 text-center text-warning px-1"><i class="fas fa-question-circle"></i></span>
                            <span class="col-10">About</span>
                        </a>
                        <a asp-page="/Quit" class="nav-item nav-link d-flex flex-row align-items-center @(activePage == "Quit" ? "active" : string.Empty)">
                            <span class="col-2 text-center text-danger px-1"><i class="fas fa-times-circle"></i></span>
                            <span class="col-10">Quit</span>
                        </a>
                        <span class="font-weight-bold navbar-text text-muted">Algorithms</span>
                        <a asp-page="/Create" class="nav-item nav-link d-flex flex-row align-items-center @(activePage == "Create" ? "active" : string.Empty)">
                            <span class="col-2 text-center text-success px-1"><i class="fas fa-plus"></i></span>
                            <span class="col-10">Create</span>
                        </a>
                        <a asp-page="/Dashboard" class="nav-item nav-link d-flex flex-row align-items-center @(activePage == "Dashboard" ? "active" : string.Empty)">
                            <span class="col-2 text-center text-info px-1"><i class="fas fa-chart-bar"></i></span>
                            <span class="col-10">Dashboard</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <main class="col-md-8 col-lg-9 col-xl-10 flex-grow-1 flex-md-grow-1 d-flex flex-column">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js" asp-append-version="true"></script>
    <script src="~/lib/chart-js/Chart.min.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="false"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
