@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    ViewData["ActivePage"] = "About";
}

<div class="flex-grow-1 p-4 d-flex flex-column">
    <div class="container my-2 sticky-top">
        <div class="card px-5 pt-3 pt-md-0 shadow-sm">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <span class="font-weight-bold">About</span>
                </div>
                <div class="col-md-6 navbar navbar-light">
                    <div class="navbar-nav flex-row flex-wrap align-items-center justify-content-center justify-content-md-end w-100">
                        <a asp-page="/Index" class="nav-item nav-link mx-2" title="Home">
                            <span><i class="fas fa-home"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2">
        <div class="card px-5 py-4 shadow-sm">
            <div class="mb-3">
                <div class="font-weight-bold mb-2">
                    <span>Table of contents</span>
                </div>
                <ol class="mb-1">
                    <li class="">
                        <a href="#about-introduction">Introduction</a>
                    </li>
                    <li class="">
                        <a href="#about-usage">Usage</a>
                    </li>
                    <li class="">
                        <a href="#about-acknowledgements">Acknowledgements</a>
                    </li>
                    <li class="">
                        <a href="#about-citing">Citing</a>
                    </li>
                </ol>
            </div>
            <div id="about-introduction" class="mb-3">
                <div class="font-weight-bold mb-2">
                    <span>Introduction</span>
                </div>
                <div class="mb-1">
                    <span><span class="font-italic font-weight-bold">GeneticAlgNetControl</span> is a fast heuristic for the network target controllability problem. For a directed network, a set of targets, and a set of preferred nodes, it finds a small set of input nodes (as many of them as possible being preferred nodes) controlling the set of target nodes. The software is customised for applications in drug repurposing and combinatorial drug therapy identification based on synthetic lethality.</span>
                </div>
                <div class="mb-1">
                    <span>It was created using <a href="https://dotnet.microsoft.com/" target="_blank">.NET Core</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
                </div>
                <div class="mb-1">
                    <span>More information regarding the target controllability problem, the algorithm, the software implementation, as well as possible data sets, is available in the <a href="#about-citing">corresponding publication</a>.</span>
                </div>
            </div>
            <div id="about-usage" class="mb-3">
                <div class="font-weight-bold mb-2">
                    <span>Usage</span>
                </div>
                <div class="mb-1">
                    <span>An overview of current and previous analyses can be seen on the <code>Dashboard</code> page. All ongoing analyses are refreshed automatically every few seconds.</span>
                </div>
                <div class="mb-1">
                    <span>To create a new analysis, you can navigate to the <code>Create</code> page. The required inputs are detailed next.</span>
                </div>
                <ul class="mb-1">
                    <li class="">
                        <span class="font-italic">Edges</span>
                        <span>-</span>
                        <span>Use this section of the form to specify the edges of the network. The edges are separated by a "line separator" (by default, each edge should be on a new line), with the source and target nodes of each being separated by an "in-line separator" (semicolon by default). The order of the nodes is important, as the network is directed. Thus, <code>Node A;Node B</code> is not the same as <code>Node B;Node A</code>, and they can both appear in the network. Any duplicate edges will be ignored. The set of nodes in the network will be automatically inferred from the set of edges. The number of detected edges will be automatically updated as you type.</span>
                    </li>
                    <li class="">
                        <span class="font-italic">Target nodes</span>
                        <span>-</span>
                        <span>Use this section of the form to specify the target nodes of the network. The nodes are separated by a "line separator" (by default, each node should be on a new line). If none of the nodes could be found in the network, an error will be returned. Only the nodes which already appear in the network will be considered. Any duplicate nodes will be ignored.</span>
                    </li>
                    <li class="">
                        <span class="font-italic">Preferred nodes</span>
                        <span>-</span>
                        <span>Use this optional section of the form to specify the optional preferred nodes of the network. The nodes are separated by a "line separator" (by default, each node should be on a new line). Only the nodes which already appear in the network will be considered. Any duplicate nodes will be ignored.</span>
                    </li>
                    <li class="">
                        <span class="font-italic">Parameters</span>
                        <span>-</span>
                        <span>Use this section of the form to specify the values for the analysis paramters. By default, all of the corresponding fields have their default values automatically filled in. The parameters are presented below.</span>
                        <ul class="mb-0">
                            <li class="">
                                <span><code>RandomSeed</code>. Represents the random seed for the current algorithm run. A value of <code>-1</code> will generate a random value for the seed. It must be a positive integer, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.RandomSeed</code>.</span>
                            </li>
                            <li class="">
                                <span><code>MaximumIterations</code>. Represents the maximum number of generations for which the algorithm will run. It must be a positive integer, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.MaximumIterations</code>.</span>
                            </li>
                            <li class="">
                                <span><code>MaximumIterationsWithoutImprovement</code>. Represents the maximum number of generations without an improvement in the fitness of the best chromosome in the population for which the algorithm will run. It must be a positive integer, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.MaximumIterationsWithoutImprovement</code>.</span>
                            </li>
                            <li class="">
                                <span><code>MaximumRunningTime</code>. Represents the maximum number of seconds for which the algorithm will run. A value of <code>0</code> will not restrict the running time. It must be a positive integer, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.MaximumRunningTime</code>.</span>
                            </li>
                            <li class="">
                                <span><code>MaximumPathLength</code>. Represents the maximum number of edges in a control path. It must be a positive integer, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.MaximumPathLength</code>.</span>
                            </li>
                            <li class="">
                                <span><code>PopulationSize</code>. Represents the total number of chromosomes in a generation. It must be a positive integer greater than <code>1</code>, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.PopulationSize</code>.</span>
                            </li>
                            <li class="">
                                <span><code>RandomGenesPerChromosome</code>. Represents the maximum number of randomly generated genes in a chromosome. All of the other genes will have their corresponding default value. It must be a positive integer, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.RandomGenesPerChromosome</code>.</span>
                            </li>
                            <li class="">
                                <span><code>PercentageElite</code>. Represents the maximum percentage of elite chromosomes in a generation. It must be a real number in the <code>[0, 1]</code> interval, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.PercentageElite</code>.</span>
                            </li>
                            <li class="">
                                <span><code>PercentageRandom</code>. Represents the maximum percentage of randomly generated chromosomes in a generation. It must be a real number in the <code>[0, 1]</code> interval, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.PercentageRandom</code>.</span>
                            </li>
                            <li class="">
                                <span><code>ProbabilityMutation</code>. Represents the probability of mutation for a chromosome. It must be a real number in the <code>[0, 1]</code> interval, and its default value is <code>@Helpers.Models.Parameters.DefaultValues.ProbabilityMutation</code>.</span>
                            </li>
                            <li class="">
                                <span><code>CrossoverType</code>. Represents the crossover algorithm to be used by the genetic algorithm. It must be an integer in the set <code>{0, 1, 2, 3}</code>, and its default value is <code>@((int)Helpers.Models.Parameters.DefaultValues.CrossoverType)</code>.</span>
                            </li>
                            <li class="">
                                <span><code>MutationType</code>. Represents the mutation algorithm to be used by the genetic algorithm. It must be an integer in the set <code>{0, 1, 2, 3}</code>, and its default value is <code>@((int)Helpers.Models.Parameters.DefaultValues.MutationType)</code>.</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="mb-1">
                    <span>Once all input fields are in order, you can press the <code>Create</code> button to start the analysis. You can monitor its progress, stop it, or delete it at any time using the suitable buttons on the <code>Dashboard</code> page or on the <code>Details</code> page corresponding to the analysis.</span>
                </div>
                <div class="mb-1">
                    <span>When the analysis completes (or it is stopped), its result will appear on the corresponding <code>Details</code> page. You can save to a file all of the data related to the analysis by pressing the <code>Save</code> button on the same page.</span>
                </div>
                <div class="mb-1">
                    <span>To close the application, you can navigate to the <code>Quit</code> page, or you can simply select the terminal where the application is running (and not the browser!) again and press <code>CTRL + C</code> (or <code>CMD + C</code> on MacOS). It is recommended to wait for it to gracefully shut down, as this will automatically stop and save the progress of all currently running analyses. If you forcefully close the application, you will lose all progress on the currently running analyses, however they will automatically restart on the next application launch.</span>
                </div>
            </div>
            <div id="about-acknowledgements" class="mb-3">
                <div class="font-weight-bold mb-2">
                    <span>Acknowledgements</span>
                </div>
                <div class="mb-1">
                    <span>The logo was created by <a href="https://www.freelogodesign.org/" target="_blank">FreeLogoDesign</a> <span class=""><i class="fas fa-external-link-alt"></i></span> and formatted using <a href="https://realfavicongenerator.net/" target="_blank">Real FavIcon Generator</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
                </div>
                <div class="mb-1">
                    <span>The icons used throughout the application were created by <a href="https://fontawesome.com/" target="_blank">FontAwesome</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
                </div>
                <div class="mb-1">
                    <span>The entire front-end works and looks as it does thanks to <a href="https://jquery.com/" target="_blank">JQuery</a> <span class=""><i class="fas fa-external-link-alt"></i></span> and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
                </div>
                <div class="mb-1">
                    <span>The client-side validation is performed using <a href="https://jqueryvalidation.org/" target="_blank">JQuery Validation</a> <span class=""><i class="fas fa-external-link-alt"></i></span> and <a href="https://bradwilson.typepad.com/blog/2010/10/mvc3-unobtrusive-validation.html" target="_blank">JQuery Validation Unobtrusive</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
                </div>
                <div class="mb-1">
                    <span>The charts are drawn and styled using <a href="https://www.chartjs.org/" target="_blank">ChartJS</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
                </div>
                <div class="mb-1">
                    <span>The tables are formatted using <a href="https://datatables.net/" target="_blank">DataTables</a> <span class=""><i class="fas fa-external-link-alt"></i></span>.</span>
                </div>
            </div>
            <div id="about-citing" class="mb-3">
                <div class="font-weight-bold mb-2">
                    <span>Citing</span>
                </div>
                <div class="mb-1">
                    <span>V.-B. Popescu, K. Kanhaiya, I. Năstac, E. Czeizler, and I. Petre. <span class="font-italic">Network controllability solutions for computational drug repurposing using genetic algorithms</span>. Scientific Reports, vol. 12, no. 1437 (2022), available at <a href="https://doi.org/10.1038/s41598-022-05335-3" target="_blank">https://doi.org/10.1038/s41598-022-05335-3</a> <span><i class="fas fa-external-link-alt"></i></span>.</span>
                </div>
            </div>
        </div>
    </div>
</div>
