@page
@model StartModel
@{
    ViewData["Title"] = "Start";
    ViewData["ActivePage"] = "Overview";
}

<div class="alert alert-info mb-3">
    <span><i class="fas fa-info-circle"></i></span>
    <span>The following item@(Model.View.Items.Count() != 1 ? "s" : string.Empty) will be started again.</span>
    <span class="font-weight-bold">Only the algorithms having the status "Stopped" can be started.</span>
</div>
<ul class="list-group list-group-flush item-group">
    <li class="list-group-item bg-transparent border-0">
        <div class="row align-items-center">
            <div class="col-sm-6 text-center text-md-left">
                <span class="text-muted small">Showing items 1 to @Model.View.Items.Count().</span>
            </div>
        </div>
    </li>
    <li class="list-group-item list-group-item-action list-group-item-dark active">
        <div class="row align-items-center font-weight-bold">
            <div class="col-6 col-xl-6 text-center text-truncate">
                <span>Name</span>
            </div>
            <div class="col-2 col-xl-2 text-center text-truncate">
                <span>Status</span>
            </div>
            <div class="col-4 col-xl-4 d-flex flex-row flex-wrap justify-content-center">
                <form method="post">
                    <div class="form-group" hidden>
                        <label asp-for="Input.Ids" class="font-weight-bold">IDs</label>
                        <input asp-for="Input.Ids" type="hidden" class="form-control" />
                        <span asp-description-for="Input.Ids" class="text-muted small">The internal IDs of the algorithms to be started, formatted as a JSON string array.</span>
                        <span asp-validation-for="Input.Ids" class="text-danger small"></span>
                    </div>
                    <button type="submit" class="btn btn-block btn-success text-wrap my-1" title="Start all">
                        <span>Start all</span>
                    </button>
                </form>
            </div>
        </div>
    </li>
    @if (Model.View.Items == null || !Model.View.Items.Any())
    {
        <li class="list-group-item">
            <div class="row align-items-center py-2">
                <div class="col-2 col-xl-1 text-center text-truncate">
                    <span><i class="fas fa-info-circle"></i></span>
                </div>
                <div class="col-10 col-xl-11 text-left text-wrap">
                    <span class="font-weight-bold">No items have been found.</span>
                </div>
            </div>
        </li>
    }
    else
    {
        foreach (var item in Model.View.Items)
        {
            <li class="list-group-item list-group-item-action list-group-item-light item-group-item">
                <div class="row align-items-center">
                    <div class="col-4 col-xl-2 text-center text-truncate">
                        <div>
                            <span title="@item.Name" class="font-weight-bold">@item.Name</span>
                        </div>
                        <div>
                            <span title="@item.Id" class="small">@item.Id</span>
                        </div>
                    </div>
                    <div class="col-2 col-xl-2 text-center text-truncate">
                        <div>
                            <span title="@item.Status.ToString()" class="">@item.Status.ToString()</span>
                        </div>
                    </div>
                    <div class="col-4 col-xl-3 d-flex flex-row flex-wrap justify-content-center">
                        <a asp-page="/Details" asp-route-id="@item.Id" class="btn btn-outline-info m-1" title="Details">
                            <span><i class="fas fa-info-circle"></i></span>
                        </a>
                        <a asp-page="/Create" asp-route-id="@item.Id" class="btn btn-outline-dark m-1" title="Copy">
                            <span><i class="fas fa-copy"></i></span>
                        </a>
                        <a asp-page="/Start" asp-route-id="@item.Id" class="btn btn-outline-success m-1" title="Start">
                            <span><i class="fas fa-play"></i></span>
                        </a>
                    </div>
                </div>
            </li>
        }
    }
</ul>
