@page
@model StopModel
@{
    ViewData["Title"] = "Stop";
    ViewData["ActivePage"] = "Dashboard";
}

<div class="flex-grow-1 p-4 d-flex flex-column">
    <div class="container my-2 sticky-top">
        <div class="card px-5 pt-3 pt-md-0 shadow-sm">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <span class="font-weight-bold">Stop</span>
                </div>
                <div class="col-md-6 navbar navbar-light">
                    <div class="navbar-nav flex-row flex-wrap align-items-center justify-content-center justify-content-md-end w-100">
                        <a asp-page="/Dashboard" class="nav-item nav-link mx-2" title="Dashboard">
                            <span><i class="fas fa-chart-bar"></i></span>
                        </a>
                        <a asp-page="/Index" class="nav-item nav-link mx-2" title="Home">
                            <span><i class="fas fa-home"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-2">
        <div class="alert alert-info mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The following @Model.View.Items.Count() item@(Model.View.Items.Count() != 1 ? "s" : string.Empty) will be stopped.</span>
            <span class="font-weight-bold">As long as the predefined maximum number of generations hasn't been reached, they can be started again later.</span>
        </div>
    </div>
    @if (!Model.View.Items.Any())
    {
        <div class="container my-2">
            <div class="alert alert-danger mb-0">
                <span><i class="fas fa-exclamation-circle"></i></span>
                <span class="font-weight-bold">No items have been found.</span>
            </div>
        </div>
    }
    else
    {
        <div class="container my-2">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    <div class="row align-items-center font-weight-bold">
                        <div class="col-6 col-xl-6 text-center text-truncate">
                            <span>Name</span>
                        </div>
                        <div class="col-2 col-xl-2 text-center text-truncate">
                            <span>Status</span>
                        </div>
                        <div class="col-4 col-xl-4 d-flex flex-row flex-wrap justify-content-center">
                            <form method="post">
                                <div class="form-group" hidden>
                                    <label asp-for="Input.Ids" class="font-weight-bold">IDs</label>
                                    <input asp-for="Input.Ids" type="hidden" class="form-control" />
                                    <span asp-description-for="Input.Ids" class="text-muted small">The internal IDs of the algorithms to be stopped, formatted as a JSON string array.</span>
                                    <span asp-validation-for="Input.Ids" class="text-danger small"></span>
                                </div>
                                <button type="submit" class="btn btn-block btn-danger text-wrap my-1" title="Stop all">
                                    <span>Stop all</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush item-group">
                        @foreach (var item in Model.View.Items)
                        {
                            <li class="list-group-item list-group-item-action list-group-item-light item-group-item">
                                <div class="row align-items-center">
                                    <div class="col-6 col-xl-6 text-center text-truncate">
                                        <div>
                                            <span title="@item.Name" class="font-weight-bold">@item.Name</span>
                                        </div>
                                        <div>
                                            <span title="@item.Id" class="small">@item.Id</span>
                                        </div>
                                    </div>
                                    <div class="col-2 col-xl-2 text-center text-truncate">
                                        <div>
                                            <span title="@item.Status.ToString()" class="">@item.Status.ToString()</span>
                                        </div>
                                    </div>
                                    <div class="col-4 col-xl-4 d-flex flex-row flex-wrap justify-content-center">
                                        <a asp-page="/Details" asp-route-id="@item.Id" class="btn btn-outline-info m-1" title="Details">
                                            <span><i class="fas fa-info-circle"></i></span>
                                        </a>
                                        <a asp-page="/Create" asp-route-id="@item.Id" class="btn btn-outline-dark m-1" title="Copy">
                                            <span><i class="fas fa-copy"></i></span>
                                        </a>
                                        <a asp-page="/Stop" asp-route-id="@item.Id" class="btn btn-outline-danger m-1" title="Stop">
                                            <span><i class="fas fa-stop"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
